<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="utf-8" />
<title>Sport equipment rental page</title>
</head>
<body>

    <form method="post" th:action="@{/rental-form}" action="/rental-form" th:object="${rentalSheet}">
        <h1>Equipment Renting</h1>
        <h2>Fill out the form with customer data!</h2>

        <label>First Name: </label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Form error</div>
        <input type="text" th:field="*{firstName}"></input><br/> 
        
        <label>Last Name: </label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Form error</div>
        <input type="text" th:field="*{lastName}"></input><br/> 

        <label>E-mail address: </label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('eMailAdress')}" th:errors="*{eMailAdress}">Form error</div>
        <input type="email" th:field="*{eMailAdress}"></input><br/> 
        
        <label>Select an activity: </label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('equipmentType')}" th:errors="*{equipmentType}">Form Error</div>
        <select class="form-control" name="equipmentType">
            <option th:each="equipmentType : ${typeOfEquipments}" th:text="${equipmentType}"/>
        </select><br/> 
        
        <label>Duration of renting: </label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Form Error</div>
        <input type="number" name="duration" th:field="*{duration}" required/><br/> 


      <button type="submit">Submit Rental</button>
    </form>


</body>
</html>